* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url("../img/login.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.box {
  position: relative;
  width: 380px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  text-align: center;
}

h2 {
  color: #1f6a32;
  font-size: 38px;
  margin-bottom: 20px;
}

.error {
  background: #ffe5e5;
  color: #b00020;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 0.95rem;
}

input {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 16px;
  margin-top: 10px;
  background: linear-gradient(135deg, #2D531A, #4CAF50);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(45, 83, 26, 0.4);
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}